---
---
@import "portfolYOU";

html, html[data-theme="light"] {
	--link-color: rgb(0, 0, 0);
  --main-background-color: hsl(0, 0%, 95%);
  --main-text-color: hsl(0, 0%, 20%);
}

html[data-theme="dark"] {
  --link-color: rgb(255, 255, 255);
  --main-background-color: hsl(0, 0%, 15%);
  --main-text-color: hsl(0, 0%, 90%); 
}


@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
      --link-color: rgb(255, 255, 255);
    	--main-background-color: hsl(0, 0%, 15%);
    	--main-text-color: hsl(0, 0%, 90%); 
    }

    html[data-theme="light"] {
		  --link-color: rgb(0, 0, 0);
    	--main-background-color: hsl(0, 0%, 95%);
  	 --main-text-color: hsl(0, 0%, 20%);
  } 
}


body {
	background-color: var(--main-background-color);
  color: var(--main-text-color);
}

a {
  color: var(--link-color);
  
}

article {
  max-width: 650px;
  margin: 0em ;  

}

h5 {
  color: var(--link-color);
}

h8 {
  color: var(--link-color);
}

div {
  background-color: var(--main-background-color);
}

div.timeline-body {
  background-color: var(--main-background-color);
}


